$viewheight: 100vh;

$text: #e0e0e0;
$primary: #1d1f21;
$secondary: #47484b;
$error: #f72a2a;
$success: #29f753;
$gold: #f7d129;
$info: #29b2f7;
$threat: #e05006;
$action: linear-gradient(0deg, rgba(38,99,0,1) 0%, rgba(0,231,47,1) 100%);
$border: #2dff58;
$lightBorder: #74ff90;